@charset "utf-8";

//----------------------------------------------------------------------------
// WordPress editor styles
//----------------------------------------------------------------------------
%editorMargin {
  margin: $editor-margin-sm;
  @media #{$medium-up} {
    margin: $editor-margin-md;
  }
  @media #{$large-up} {
    margin: $editor-margin-lg;
  }
}
@mixin wp-editor-styles {

  // <h> tag styles
  // set font-size
  @for $i from 1 through 6 {
    h#{$i} {
      font-size: #{26 - $i*2}px;
      @media #{$medium-up} {
        font-size: #{28 - $i*2}px;
      }
    }
  }
  // common styles
  h1, h2, h3, h4, h5, h6 {
    margin: $editor-h-margin-sm;
    color: $colorPinkDarken;
    font-weight: normal;
    line-height: 1.5;
    @media #{$medium-up} {
      margin: $editor-h-margin-md;
    }
    @media #{$large-up} {
      margin: $editor-h-margin-lg;
    }
  }


  p {
    @extend %editorMargin;
  }

  a {}

  dl {
    @extend %editorMargin;
    border: $borderStyle;
    padding: 0 20px;
    font-size: 90%;
    dt {
      margin-top: 20px;
      margin-bottom: 10px;
      font-weight: bold;
    }
    dd {
      margin-top: 10px;
      margin-bottom: 24px;
    }
  }

  ul, ol {
    @extend %editorMargin;
    padding-left: 24px;
    li {
      margin: 16px 0;
      line-height: 1.5;
    }
  }

  ul {
    li {
      list-style-type: circle;
    }
  }

  blockquote {
    @extend %editorMargin;
    position: relative;
    padding: 20px 20px 20px 60px;
    background-color: $colorBg;
    border-radius: 2px;
    font-size: 90%;
    &:before {
      @include genericons($content: '\f106', $fontsize: 32px, $position: absolute);
      top: 16px;
      left: 20px;
      color: #fff;
    }
    > * {
      margin: 0 0 20px 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  pre,
  code,
  var {
    background-color: $colorBg;
    border-radius: 4px;
    font-family: $fontFamilyCode;
    font-size: 90%;
  }

  code,
  var {
    padding: 2px 4px;
    color: $colorPink;
    line-height: 1;
  }

  var {
    font-style: normal;
    &:before {
      content: "$";
    }
  }

  pre {
    @extend %editorMargin;
    padding: 20px;
    font-family: $fontFamilyCode;
    word-wrap: wrap;
    overflow: scroll;
    >code {
      padding: 0;
    }
  }

  kbd {
    padding: 4px;
    background-color: $colorBlack;
    border: 1px solid lighten($colorBlack, 35%);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
    color: #fff;
    font-family: $fontFamilyCode;
    font-size: 80%;
  }

  table {
    @extend %editorMargin;
    width: 100%;
    font-size: 90%;
    border: $borderStyle;
    thead {
      font-weight: normal;
      border-bottom: $borderStyle;
      tr {
        background-color: $colorBg;
      }
    }
    tbody {
      word-wrap: break-word;
      tr {
        &:nth-child(even) {
          background-color: lighten($colorBg, 2%);
        }
        &:nth-child(odd) {
          background-color: #fff;
        }
      }
      th {
        color: $colorPink;
        font-weight: normal;
      }
    }
    th,
    td {
      padding: 4px 6px;
      word-wrap: break-all;
    }
  }

}
