@charset "utf-8";

//----------------------------------------------------------------------------
// WordPress
//----------------------------------------------------------------------------

$include-wp-editor-styles    : true;
$include-wp-tinymce-styles   : false;
$include-wp-specific-classes : true;

// editor styles
// ---------------
// h tag margin
$editor-h-margin-sm          : 20px 0 14px 0;
$editor-h-margin-md          : 30px 0 24px 0;
$editor-h-margin-lg          : 40px 0 30px 0;

// global margin
$editor-margin-sm            : 14px 0 24px 0;
$editor-margin-md            : 24px 0 34px 0;
$editor-margin-lg            : 30px 0 40px 0;

// caption
$wp-caption-margin: rem-calc(18);
$wp-caption-text-font-size: rem-calc(12);

// gallery
$wp-gallery-margin: rem-calc(18);

// alignment
$wp-align-margin: rem-calc(18);
