if postArchive
  ul.postList
    - for (var x = 0; x < 12; x++)
      li.postList__item
        a.postList__link(href="#")
          article.postList__article
            .postList__img
              img(src="/assets/images/thumb_sample-works.jpg" alt="")
            .postList__content
              h3.postList__title #{postTitle}
              time.postList__date 2015/11/22
else
  ul.postList
    - for (var x = 0; x < 6; x++)
      li.postList__item
        a.postList__link(href="#")
          article.postList__article.postList__article--works
            .postList__img
              img(src="/assets/images/thumb_sample-works.jpg" alt="")
            .postList__content
              h3.postList__title #{postTitle}
