.archivePageNav
  ul.archivePageNav__list
    li.archivePageNav__item.archivePageNav__item--pre: a(href="#") &lt;&lt; 前のページ
    li.archivePageNav__item.archivePageNav__item--next: a(href="#") 次のページ &gt;&gt;
