header.l-header(role='banner')
  h1.sitetitle
    a.logo(href="#") ASKNODE
  a.btnMenuTrigger(href="#")
  nav.gNav#gNav
    ul.gMenu
      li.gMenu__item: a(href="#") ABOUT
      li.gMenu__item.gMenu__item--has-child
        a(href="http://asknode.net/") SERVICE
        ul.subMenu.js-dropdown
          li: a(href="#") DESIGN
          li: a(href="#") CODING
          li: a(href="#") WordPress
          li: a(href="#") WRITING
      li.gMenu__item: a(href="#") WORKS
      li.gMenu__item: a(href="#") CONTACT
      li.gMenu__item: a(href="#") BLOG
      li.gMenu__item
        ul.socialMenu
          li.socialMenu__item
            a(href="https://facebook.com/megumi.hano/" target="_blank" title="Facebook")
              span.readerOnly Facebook
          li.socialMenu__item
            a(href="https://github.com/featherplain/" target="_blank" title="GitHub")
              span.readerOnly GitHub

