header.l-header(role='banner')
  h1.sitetitle
    a.logo(href="./front.html") ASKNODE
  a.btnMenuTrigger(href="#")
  nav.gNav#gNav
    ul.gMenu
      li.gMenu__item: a(href="./about.html") ABOUT
      li.gMenu__item.gMenu__item--has-child
        a(href="./service.html") SERVICE
        ul.subMenu.js-dropdown
          li: a(href="") DESIGN
          li: a(href="#") CODING
          li: a(href="#") WordPress
          li: a(href="#") WRITING
      li.gMenu__item: a(href="./works-archive.html") WORKS
      li.gMenu__item: a(href="./contact.html") CONTACT
      li.gMenu__item: a(href="./post-archive.html") BLOG
      li.gMenu__item
        ul.socialMenu
          li.socialMenu__item
            a(href="https://facebook.com/megumi.hano/" target="_blank" title="Facebook")
              span.readerOnly Facebook
          li.socialMenu__item
            a(href="https://github.com/featherplain/" target="_blank" title="GitHub")
              span.readerOnly GitHub

