.l-sidebar
  .widget
    .widgetMenu
      h2.widgetMenu__title service
      ul.widgetMenu__list
        li: a(href="./single-service.html") DESIGN
        li: a(href="./service/coding/") CODING
        li: a(href="./service/wordpress/") WordPress
        li: a(href="./service/writing/") WRITING
// /. l-sidebar
