@charset "utf-8";

//----------------------------------------------------------------------------
// Color
//----------------------------------------------------------------------------
// theme colors
$colorPink          : #df0067;
$colorPinkDarken    : #910044;
$colorPinkLighten   : #ff7db9;
$colorBlue          : #008d93;
$colorBlueLighten   : #50e3c2;
$colorOrange        : #f58300;
$colorBrown         : #934ff0;
$colorGreen         : #449300;
$colorGreeenLighten : #67df00;
$colorBlack         : #222;
$colorBg            : #f1f1f1;
$colorBorder        : #dedede;

// text colors
$colorText          : $colorBlack;
$colorSub           : #555;
$colorLink          : $colorPink;
$colorLinkHover     : lighten($colorLink, 15%);
$colorSelection     : $colorLinkHover;

// sns
$colorFb            : #3b5598; // Facebook
$colorHa            : #0071c5; // Hatena Bookmark
$colorTw            : #55acee; // Twitter
$colorPo            : #ef4056; // Pocket

//----------------------------------------------------------------------------
// Image file path
//----------------------------------------------------------------------------
$imgPath           : "../images/";

//----------------------------------------------------------------------------
// Fonts
//----------------------------------------------------------------------------
// primary font
$fontFamily         : "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック","MS PGothic",Arial,Sans-Serif;
// latin font
// $fontFamilyEn       : "Montserrat", "Helvetica", "Arial", Sans-Serif;
$fontFamilyEn       : "Abel", "Helvetica", "Arial", Sans-Serif;
$fontFamilyCat      : "Pacifico", cursive;
// code font
$fontFamilyCode     : Menlo, Consolas, Courier, sans-serif;

//----------------------------------------------------------------------------
// Styles
//----------------------------------------------------------------------------
$baseRadius         : 4px;

//----------------------------------------------------------------------------
// Grid
//----------------------------------------------------------------------------
$maxWidth           : 1080px;

//----------------------------------------------------------------------------
// Navigation size
//----------------------------------------------------------------------------
$headerHeight      : 52px;
$menuHeight        : $headerHeight;
// $menuItemWidth     : ;
$menuItemHeight    : 20px;
$menuPadding       : 18px; // Calclate padding size automatically

//----------------------------------------------------------------------------
// WordPress
//----------------------------------------------------------------------------

$include-wp-editor-styles: true;
$include-wp-tinymce-styles: false;
$include-wp-specific-classes: true;

// editor styles
$wp-editor-margin: 20px 0;

// caption
$wp-caption-margin: rem-calc(15);
$wp-caption-text-font-size: rem-calc(12);

// gallery
$wp-gallery-margin: rem-calc(15);

// alignment
$wp-align-margin: rem-calc(15);
