@charset "utf-8";

/* -------------------------------------------------------------- */
/* archive
/* -------------------------------------------------------------- */

/**
 * post list
 */
.postArchive {
  @include grid-row();
  // background-color: #fff;
  padding: 14px;
  @media #{$large-up} {
    padding: 0;
  }
  &__article {
    margin: 10px 0;
    &--works {
      height: 270px;
    }
    // media query
    @media #{$medium-up} {
      @include grid-column($columns: 6, $collapse: false);
    }
    @media #{$large-up} {
      @include grid-column($columns: 4, $collapse: false);
    }
  }
  &__link {
    display: block;
    background-color: #fff;
    border: 1px solid $colorBorder;
    transition: .3s;
    min-height: 324px;
    &:hover {
      h3 {
        color: $colorPink;
      }
    }
  }
  &__content {
    padding: 20px;
  }
  &__thumb {
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  &__title {
    font-size: rem-calc(14);
    margin-top: 0;
    margin-bottom: 10px;
  }
  &__date {
    font-family: $fontFamilyEn;
    color: $colorPink;
  }
}
/**
 * meta
 */
.archiveTitle {
  position: relative;
  margin: 30px 0;
  text-align: center;
  color: $colorPinkLighten;
  font-family: $fontFamilyCat;
  &__inner {
    position: relative;
    background-color: $colorBg;
    padding: 0 14px;
    z-index: 2;
  }
  &:before {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50%;
    height: 1px;
    background-color: $colorPinkLighten;
    content: "";
    // media query
    @media #{$medium-up} {
      width: 20%;
    }
  }
}
