@charset "utf-8";

/* -------------------------------------------------------------- */
/* footer
/* -------------------------------------------------------------- */
.l-footer {
}

/**
 * contact
 */
.contact {
  padding: 60px 0;
  background-color: #fff;
  &__inner {
    width: 100%;
    max-width: 342px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
  }
  &__title {
    @include styleTitle($colorPink, $colorPinkLighten);
    margin-top: 0;
    margin-bottom: 60px;
  }
  &__text {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: rem-calc(14);
  }
}
/**
 * siteinfo
 */
.siteinfo {
  background-color: $colorBlack;
  font-family: $fontFamilyEn;
  -webkit-font-smoothing: antialiased;
  &__inner {
    @include grid-row();
  }
  &__col {
    @include grid-column($columns: 12);
    margin: 20px 0;
    @media #{$medium-up} {
      @include grid-column($columns: 6, $collapse: false, $float: left);
      text-align: left;
    }
  }
  &__text {
    color: #fff;
    font-size: rem-calc(14);
    margin: 6px 0;
  }
  a {
    color: #fff;
  }
  svg {
    margin: 0 6px;
    vertical-align: middle;
  }
}
