@charset "utf-8";

/* -------------------------------------------------------------- */
/* header
/* -------------------------------------------------------------- */
%menuItem {
  display: block;
  color: $colorText;
  font-family: $fontFamilyEn;
  font-size: rem-calc(18);
  line-height: 1;
  letter-spacing: 1px;
  padding: $menuPadding 14px;
}
%linkColorHome {
  @media #{$medium-up} {
    .home & {
      color: #fff;
    }
  }
}
.l-header {
  @extend %clearfix;
  position: relative;
  width: 100%;
  height: $headerHeight;
  background-color: #fff;
  z-index: 12;
  // front page
  .home & {
    background-color: transparent;
    z-index: 12;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.gMenu,
.socialMenu {
  margin: 0;
  @extend %clearfix;
}
/**
 * site title
 */
.sitetitle {
  float: left;
  line-height: 1;
  margin: 0;
  padding: 8px 0 14px 40px;
  @media #{$small-only} {
    padding: 8px 0 10px 14px;
  }
  .logo {
    display: inline-block;
    color: $colorText;
    font-family: $fontFamilyEn;
    font-size: rem-calc(24);
    font-weight: 400;
    line-height: 1;
    letter-spacing: 1px;
    vertical-align: middle;
    &:hover {
      color: $colorPink;
    }
    // front page
    .home & {
      color: #fff;
    }
  }
}
/**
 * global navigation
 */
.gNav {
  background-color: #fff;
  @media #{$small-only} {
    display: none;
    position: absolute;
    top: $headerHeight;
    left: 0;
    width: 100%;
    height: auto;
    padding: 0;
  }
  @media #{$medium-up} {
    height: $headerHeight;
    float: right;
    padding: 0 40px 0 0;
    // front page
    .home & {
      background-color: transparent;
    }
  }
  &--is-active {
    display: block;
  }
}
// menu
.gMenu {
  padding-left: 0;
  @media #{$medium-up} {
    float: left;
  }
  &__item {
    @media #{$medium-up} {
      float: left;
    }
    @media #{$small-only} {
      border-top: 1px solid $colorBorder;
    }
    >a {
      @extend %menuItem;
      &:hover {
        color: $colorPink;
      }
      // front page
      @extend %linkColorHome;
    }
    &--has-child {
      position: relative;
    }
  }
}
// sub menu
.subMenu {
  display: none;
  width: 100%;
  min-width: 140px;
  padding-left: 0;
  background-color: #fff;
  @media #{$medium-up} {
    position: absolute;
    top: $headerHeight;
    left: -20px;
    right: 0;
    margin: 0 auto;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
  }
  li {
    border-bottom: 1px solid $colorBorder;
    &:last-child {
      border-bottom: none;
    }
    a {
      @extend %menuItem;
      &:hover {
        background-color: $colorPink;
        color: #fff;
      }
      @media #{$medium-up} {
        text-align: center;
      }
    }
  }
}
// social menu
.socialMenu {
  float: left;
  margin: 0;
  padding: 0 10px;
  @media #{$medium-up} {
    padding: 0;
  }
  &__item {
    display: inline-block;
    line-height: 1;
    float: left;
    margin: 0 4px;
    padding: 0;
    a {
      display: inline-block;
      padding: $menuPadding 0;
      line-height: 1;
      vertical-align: top;
      color: $colorText;
      &:hover {
        color: $colorPink;
      }
      &[href*="facebook.com"] {
        &:before {
          @include genericons($content: '\f203', $fontsize: 18px);
        }
      }
      &[href*="twitter.com"] {
        &:before {
          @include genericons($content: '\f202', $fontsize: 18px);
        }
      }
      &[href*="github.com"] {
        &:before {
          @include genericons($content: '\f200', $fontsize: 18px);
        }
      }
      &[href*="wordpress.org"] {
        &:before {
          @include genericons($content: '\f205', $fontsize: 18px);
        }
      }
      // front page
      @extend %linkColorHome;
    }
  }
}
/**
 * buttons for mobile menu trigger
 */
 .btnMenuTrigger {
  float: right;
  position: absolute;
  top: 14px;
  right: 0;
  margin-right: 14px;
  &:before {
    @include genericons($content: '\f419', $fontsize: 18px);
    color: $colorText;
    // front page
    .home & {
      color: #fff;
    }
  }
}
.btnSlideMenu {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 38px;
  margin: 8px;
  padding: 0;
  background-color: $colorBorder;
  border-radius: 0;
  border: none;
  box-shadow: none;
  &:before {
    @include genericons(
      $content: '\f431',
      $fontsize: 28px
    );
    color: #fff;
  }
}
@media #{$medium-up} {
  .btnMenuTrigger,
  .btnSlideMenu {
    display: none;
  }
}
