@charset "utf-8";

/* -------------------------------------------------------------- */
/* layout
/* -------------------------------------------------------------- */
/**
 * l-container
 */
.l-container {
  background-color: $colorPink;
  .single & {
    background-color: $colorBg;
  }
}
/**
 * l-main
 */
.l-main {
  @extend %baseWidth;
  margin-top: 56px;
  margin-bottom: 60px;
  &--single {
    @media #{$small-only} {
      margin: 0;
    }
  }
}
.l-primary {}
.l-sidebar {}
/**
 * grid row
 */
.row {
  @include grid-row();
  @media #{$small-only} {
    padding: 0 10px;
  }
}
/**
 * page title
 */
.pageTitle {
  &--single {
    @include styleTitle($colorPink, $colorPinkLighten);
  }
  &--archive {
    @include styleTitle(#fff, $colorPinkDarken);
  }
}
/**
 * screeen reader text
 */
.readerOnly {
  display: none;
}
