@charset "utf-8";

/* -------------------------------------------------------------- */
/* layout
/* -------------------------------------------------------------- */
/**
 * l-container
 */
.l-container {
  background-color: $colorBg;
}
/**
 * l-main
 */
.l-main {
  @include grid-row();
  margin-top: 0;
  margin-bottom: 60px;
  &--post {
    @media #{$small-only} {
      margin: 0;
    }
  }
}
.l-primary {
  margin: 40px auto;
  @media #{$large-up} {
    width: 100%;
    max-width: $postWidth;
    float: none;
  }
}
.l-sidebar {}
/**
 * grid row
 */
.row {
  @include grid-row();
  @media #{$small-only} {
    padding: 0 10px;
  }
}
/**
 * page title
 */
.pageTitle {
  @include styleTitle($colorPink, $colorPinkLighten);
}
/**
 * screeen reader text
 */
.readerOnly,
.screen-reader-text {
  display: none;
}
