@charset "utf-8";

/* -------------------------------------------------------------- */
/* layout
/* -------------------------------------------------------------- */
.l-container {
  background-color: $colorPink;
}
.l-header {
  @extend %baseWidth;
}
.l-footer {}
.l-main {
  @extend %baseWidth;
  margin-top: 56px;
  margin-bottom: 60px;
}
.l-primary {}
.l-sidebar {}
.row {
  @include grid-row();
  // box-sizing: border-box;
  @media #{$small-only} {
    padding: 0 14px;
  }
}
/**
 * screeen reader text
 */
.readerOnly {
  display: none;
}
