@charset "utf-8";

/* -------------------------------------------------------------- */
/* header
/* -------------------------------------------------------------- */
.l-header {
  width: 100%;
  box-sizing: border-box;
  height: $headerHeight;
  background-color: #fff;
  padding: 0 40px;
  &__inner {
    @extend %clearfix;
  }
}
.gNav {
}
.gMenu,
.socialMenu {
  margin: 0;
  @extend %clearfix;
}
@media #{$medium-up} {
  /**
   * site title
   */
  .sitetitle {
    float: left;
    line-height: 1;
    margin: 0;
    padding: 12px 0 14px 0;
    a {
      display: inline-block;
      line-height: 1;
      vertical-align: top;
    }
  }
  /**
   * global navigation
   */
  .gNav {
    float: right;
  }
  // menu
  .gMenu {
    float: left;
    &__item {
      float: left;
      a {
        display: block;
        color: $colorText;
        font-family: $fontFamilyEn;
        font-size: rem-calc(18);
        line-height: 1;
        padding: $menuPadding 14px;
        &:hover {
          color: $colorPink;
        }
      }
      &--hasChild {
        position: relative;
      }
    }
  }
  .subMenu {
    background-color: #fff;
    display: none;
    width: 100%;
    min-width: 140px;
    position: absolute;
    top: 60px;
    left: -20px;
    right: 0;
    margin: 0 auto;
    padding-left: 0;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    li {
      border-bottom: 1px solid $colorBorder;
      a {
        display: block;
        text-align: center;
      }
    }
    &--is-active {
      display: block;
    }
  }
  // social menu
  .socialMenu {
    float: left;
    margin: 0;
    padding: 0;
    &__item {
      float: left;
      margin: 0 4px;
      padding: $menuPadding 0;
    }
  }
}
