@charset "utf-8";

/* -------------------------------------------------------------- */
/* post
/* -------------------------------------------------------------- */
.post {
  background-color: #fff;
  &__header {
    position: relative;
  }
  &__image {
  }
  &__meta {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    padding: 16px 18px;
    background-color: rgba(0,0,0,.6);
    color: #fff;
    font-family: $fontFamilyEn;
    font-size: rem-calc(12);
    letter-spacing: 1.4px;
    text-transform: uppercase;
    z-index: 2;
    a {
      color: #fff;
    }
    i {
      display: inline-block;
      margin: 0 6px;
      vertical-align: baseline;
      svg {
        width: 3px;
        height: auto;
        margin: 3px 0;
      }
    }
  }
  &__body {
    padding: 0 20px 20px 20px;
  }
  &__title {
    margin: 40px 0;
    color: lighten($colorText, 8%);
    font-size: rem-calc(16);
    font-weight: bold;
    &--center {
      text-align: center;
    }
  }
  &__separator {
    svg {
      display: block;
      width: 38px;
      margin: 0 auto;
    }
  }
  &__excerpt,
  &__content {
    color: $colorText;
    margin: 30px 0;
    font-size: rem-calc(14);
    line-height: 2.0;
    letter-spacing: 0.1px;
  }
  // media query
  @media #{$medium-up} {
    &__meta {
      font-size: rem-calc(18);
      i {
        svg {
          width: 6px;
          height: auto;
        }
      }
    }
    &__body {
      padding: 0 40px 40px 40px;
    }
    &__title {
      font-size: rem-calc(28);
      font-weight: normal;
    }
    &__excerpt,
    &__content {
      padding: 0 50px;
      font-size: rem-calc(16);
      line-height: 1.85;
    }
  }
  @media #{$large-up} {
    &__body {
      padding: 0 60px 60px 60px;
    }
    &__title {
      margin: 50px 0;
    }
  }
}
