@charset "utf-8";

/* -------------------------------------------------------------- */
/* buttons
/* -------------------------------------------------------------- */

/**
 * contact
 */
.btnContact {
  @include btn(
    $colorBg: $colorPink,
    $color: #ffffff,
    $fontSize: rem-calc(16),
    $padding: 14px 0,
    $radius: true,
    $boxShadow: true,
    $fullWidth: true
  );
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  &:before {
    @include fa($content: '\f1d8', $fontsize: 16px, $valaign: baseline);
    margin-right: 10px;
  }
}
/**
 * details
 */
.btnMore {
  @include btnGhost(
    $color: $colorPink,
    $colorHover: #ffffff,
    $fontSize: 10px,
    $padding: 8px 0,
    $radius: true,
    $fullWidth: true
  );
}
/**
 * external
 */
.btnExternal {
  @include btn(
    $colorBg: #fff,
    $color: $colorPink,
    $fontSize: 16px,
    $padding: 10px 0 12px 0,
    $fullWidth: true,
    $radius: true,
    $boxShadow: true
  );
  font-weight: bold;
  &:after {
    @include genericons($content: '\f442', $fontsize: 18px);
    padding-bottom: 8px;
  }
  &--works {
    @include btn(
      $colorBg: $colorPink,
      $color: #fff,
      $fontSize: 16px,
      $padding: 12px 0 14px 0,
      $fullWidth: true,
      $radius: true,
      $boxShadow: true
    );
  }
}
