@charset "utf-8";

/* -------------------------------------------------------------- */
/* page navigation
/* -------------------------------------------------------------- */
.nav {
  &-links {
    @include grid-row();
    margin: 40px 0;
    padding: 20px 0;
    a {
      position: relative;
      display: inline-block;
      color: $colorText;
      font-size: rem-calc(12);
      line-height: 1.4;
      vertical-align: top;
      &:hover {
        color: $colorPink;
      }
      &:before,
      &:after {
        position: absolute;
        top: 2px;
        color: $colorPink;
      }
    }
  }
  &-previous {
    @include grid-column($columns: 6, $collapse: false);
    text-align: left;
    padding-left: 40px;
    a {
      &:before {
        @include icomoon('\e900', 16px);
        left: -24px;
      }
    }
  }
  &-next {
    @include grid-column($columns: 6, $collapse: false);
    text-align: right;
    padding-right: 40px;
    a {
      &:after {
        @include icomoon('\e901', 16px);
        right: -24px;
      }
    }
  }
}
.pageLinks {
  text-align: center;
  span {
    background-color: $colorBg;
    margin: 0 4px;
    padding: 8px 10px;
  }
  a {
    display: inline-block;
    line-height: 1;
    > span {
    }
  }
}
