@charset "utf-8";

/* -------------------------------------------------------------- */
/* page navigation
/* -------------------------------------------------------------- */
/**
 * archive
 */
.archivePageNav {
  margin: 20px 0;
  &__list {
    @include grid-row();
  }
  &__item {
    &--prev {
      text-align: left;
    }
    &--next {
      text-align: right;
    }
    @media #{$medium-up} {
      @include grid-column($columns: 6, $collapse: false);
    }
    a {
      color: #fff;
    }
  }
}
