@charset "utf-8";

/* -------------------------------------------------------------- */
/* module classes for WordPress editor
/* -------------------------------------------------------------- */
.styleEditor {
  /**
   * inline list
   */
  .inlineList {
    padding-left: 0;
    li {
      display: inline-block;
      margin: 6px 2px;
      list-style-type: none;
      line-height: 1;
    }
  }
  /**
   * tags
   */
  .tag {
    display: inline-block;
    margin: 6px;
    background-color: $colorBg;
    border-radius: 2px;
    font-size: rem-calc(12);
    padding: 4px 10px;
    &--check {
      &:before {
        @include genericons($content: '\f418', $fontsize: 22px);
        color: $colorBlueLighten;
        vertical-align: middle;
      }
    }
    &--cross {
      &:before {
        @include genericons($content: '\f405', $fontsize: 22px);
        color: $colorPinkLighten;
        vertical-align: middle;
      }
    }
  }
  /**
   * panel
   */
  .panel {
    border: $borderStyle;
    border-radius: 2px;
    padding: 0 20px;
    >* {
      font-size: 90%;
      margin: 20px 0;
    }
    &--warning {
      position: relative;
      &:before {
        @include genericons($content: '\f414', $fontsize: 28px, $position: absolute);
        top: 22px;
        left: 14px;
        color: $colorPink;
      }
      >* {
        padding-left: 32px;
      }
    }
    &--info {
      position: relative;
      &:before {
        @include genericons($content: '\f455', $fontsize: 28px, $position: absolute);
        top: 22px;
        left: 14px;
        color: $colorBlue;
      }
      > * {
        padding-left: 32px;
      }
    }
  }
  /**
   * buttons
   */
  .btn {
    @include btn(
      $colorBg: $colorPink,
      $color: #fff,
      $fontSize: 16px,
      $padding: 10px,
      $radius: true,
      $boxShadow: true
    );
  }
  .btnFull {
    @extend .btn;
    width: 100%;
  }
  /**
   * link
   */
  .link {
    border: $borderStyle;
    border-radius: 2px;
    padding: 10px 20px;
    >li {
      list-style-type: none;
    }
    a {
      position: relative;
      width: 100%;
      margin: 0;
      padding-left: 24px;
      font-size: 90%;
      word-wrap: break-word;
      &:before {
        @include genericons($content: '\f107', $fontsize: 28px, $position: absolute);
        display: block;
        top: -4px;
        left: -6px;
        color: $colorBorder;
        transform: rotateZ(10deg);
      }
    }
  }
}
