include inc/core/_config
include inc/core/_mixins
extends inc/core/_base
block title
  title= page.top.title
block prepend meta
  - var sitename = name
  - var keywords = page.top.keywords
  - var description = page.top.description
  - var ogpimage = page.top.ogpimage
  - var bodyClass = 'single'
  - var pageNavArchive = false
block append meta
block body
  .l-container
    include inc/layout/_l-header
    .l-main.l-main--post
      h2.pageTitle.pageTitle--post Blog
      .l-primary.l-primary--post
        article.post
          header.post__header
            .post__image
              img(src="/assets/images/img_sample-attachment.jpg" alt="")
            .post__meta
              time 2015/11/21
              i
                svg(role="img" width="6px" height="6px")
                  use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/sprite.symbol.svg#icon_circle")
              span <a href="#">WordPress</a>
              i
                svg(role="img" width="6px" height="6px")
                  use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/sprite.symbol.svg#icon_circle")
              span by <a href="#">Featherplain</a>
          .post__body
            h1.post__title ものすごく長い記事のタイトルです。文字が枠からはみ出してしまってあら大変。複数行のタイトルでも問題ないようにしましょう。
            .post__excerpt
              p 文章の概要あれも事実もうその膨脹打というののためを据えませです。しばしば今を発音人はどうもその開始なんまでに立ち行かばいるましをは担任ありあわせんだば、ちょっとには措いなたたない。最後と尽すますものはまあほかにはなはだたでしょで。
            i.post__separator
              svg(role="img" width="38px" height="6px")
                use(xlink:href="/assets/images/sprite.symbol.svg#icon_dots")
            .post__content
              include inc/module/_m-editor-content
              include inc/module/_m-sns-share
        // / .post
        include inc/module/_m-pagenav
      // /. l-primary
      .l-sidebar

    include inc/layout/_l-footer
block append scriptFooter
